<link rel="stylesheet" href="/styles/partials/menu_bar.css">

<div class="container">
    <img class="logo" src="/images/global/logo_black.svg" alt="" onclick="">
    <div class="menu-bar">
        <ul class="menu">
            <li class="home-item"><a href="#">HOME</a></li>
            <li class="recipes-item"><a href="#">RECIPES</a></li>
            <li class="articles-item"><a href="#">ARTICLES</a></li>
            <li class="myfeed-item"><a href="#">MY FEED</a></li>
            <li class="aboutus-item"><a href="#">ABOUT US</a></li>
            <li class="login-item"><a href="#">ĐĂNG NHẬP</a></li>
        </ul>
    </div>
</div>