@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    src: url("../../public/fonts/src/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: italic;
    src: url("../../public/fonts/src/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    src: url("../../public/fonts/src/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../public/fonts/src/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: lighter;
    font-style: normal;
    src: url("../../public/fonts/src/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: lighter;
    font-style: italic;
    src: url("../../public/fonts/src/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url("../../public/fonts/src/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url("../../public/fonts/src/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    src: url("../../public/fonts/src/Raleway/Raleway-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: normal;
    font-style: italic;
    src: url("../../public/fonts/src/Raleway/Raleway-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    font-style: normal;
    src: url("../../public/fonts/src/Raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    font-style: italic;
    src: url("../../public/fonts/src/Raleway/Raleway-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: lighter;
    font-style: normal;
    src: url("../../public/fonts/src/Raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: lighter;
    font-style: italic;
    src: url("../../public/fonts/src/Raleway/Raleway-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("../../public/fonts/src/Raleway/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: italic;
    src: url("../../public/fonts/src/Raleway/Raleway-MediumItalic.ttf") format("truetype");
}